
@model Hospital

<h1 style="color:brown">
    Actualizar Hospital
</h1>

<form method="post">
    <label>Id Hospital</label>
    <input type="text" name="idhospital"
           class="form-control" required />
    <label>Nombre</label>
    <input type="text" name="nombre"
           class="form-control" required />
    <label>direccion</label>
    <input type="text" name="direccion"
           class="form-control" required />
    <label>telefono</label>
    <input type="text" name="telefono"
           class="form-control" required />
    <label> numcamas</label>
    <input type="text" name="numcamas"
           class="form-control" required />
    <button class="btn btn-info">
        Create
    </button>
</form>
